@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'NightStillComes_bold';
  src: url('../fonts/NightStillComes_bold_final_sample.otf');
}

@font-face {
  font-family: 'NightStillComes_mine';
  src: url('../fonts/NightStillComes_mine_final_sample.otf');
}

@font-face {
  font-family: 'Stackyard_PERSONAL_USE';
  src: url('../fonts/Stackyard_PERSONAL_USE.ttf');
}
